.fechas{
    text-align: center;
    font-size:12px;

}

.linkDetalle{
    color:#fff;
    
}

#modalInfoDatos{
    
    z-index: 2001;
}

.modalDatos{
    
    opacity:1.0;
}

#linkDetAdicionales{
    
    color:#fff;
}

#contenedorDatosConsulta{    
    display:none;
}