@media screen and (max-width: 960px) {

    #contenedorBtnCargar{
       
        margin-left: 200px !important;
    }
}

#contenedorBtnCargar{
    display:none; 
    text-align: right;
    margin-left: 550px; 
    margin-top:5px;
}

///estilos para modal load
/*.modal-content{

    opacity: 1;
}*/





#linkUserFaltantes{    
    color: #fff;
}

#linkDetAdicionales{

    color: #fff;
}

#contenedorTabla{

    display:none;

}

#contenedorTablaErrores{
    display:none;

}

